### Topic 1 : Introduction to Python
Installing Python Packages, Importing Data, Basic Checks, Datatypes, Exporting Data

### 1. Installation of Packages

In [6]:
# Installing from Jupyter Notebook
import sys
!{sys.executable} -m pip install pandas

Requirement already satisfied: pandas in c:\users\sjeeva2\ford-anaconda\lib\site-packages (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\sjeeva2\ford-anaconda\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in c:\users\sjeeva2\ford-anaconda\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.12.0 in c:\users\sjeeva2\ford-anaconda\lib\site-packages (from pandas) (1.16.2)
Requirement already satisfied: six>=1.5 in c:\users\sjeeva2\ford-anaconda\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [7]:
# Installing from Anaconda prompt
#pip install <package-name>
#conda install <package-name>

In [8]:
# Importing Packages
import pandas as pd
import numpy as np

### 2. Importing Data in Python
Most of the time, youâ€™ll use either NumPy or pandas to import your data

In [9]:
# Importing Packages
import pandas as pd

#### 2.1 Importing a text file

In [10]:
# Importing a text file
df1 = pd.read_csv(r'C:\Users\sjeeva2\Desktop\Sample_Employee_Data.txt', sep='\t')
print (df1)

    Emp ID Gender Date of Birth  Age in Yrs.  Weight in Kgs. Date of Joining  \
0   677509      F     3/29/1981        36.36              60      11/24/2003
1   940761      F     7/31/1970        47.02              60       7/27/2008
2   428945      M     6/16/1963        54.15              68        8/3/2016
3   408351      F     12/4/1977        39.67              51       4/16/1999
4   193819      M     4/17/1977        40.31              58       7/25/2013
5   499687      M     9/27/1982        34.86              58       7/22/2005
6   539712      F     6/13/1995        22.14              50       9/14/2016
7   380086      F     6/30/1958        59.12              40       1/28/1983
8   477616      F      6/9/1959        58.18              42       4/27/1994
9   162402      F    11/13/1987        29.73              60       2/17/2014
10  231469      M      2/5/1975        42.50              80       4/14/2009
11  153989      M     5/19/1995        22.21              61        1/5/2017
12  386158      F     2/24/1972        45.45              55      11/24/2015
13  301576      M     6/26/1996        21.10              87       7/19/2017
14  441771      F     2/23/1958        59.47              47      11/26/1990
15  528509      F     8/22/1966        50.97              42       8/22/1994
16  912990      M     5/18/1970        47.23              68        9/2/2002
17  214352      F     12/5/1992        24.66              59       1/19/2015
18  890290      F     7/15/1959        58.08              56       2/23/2005
19  622406      M     10/4/1967        49.85              73        6/7/1998
20  979607      F    12/14/1994        22.64              56       4/25/2016
21  969580      M    10/26/1993        23.77              56        2/7/2016
22  426038      F    11/20/1972        44.72              56      12/30/2009
23  388642      F      5/1/1980        37.27              59       8/30/2013
24  560455      F     3/10/1958        59.42              53        7/3/2001
25  477253      F     7/29/1989        28.02              60      11/24/2013
26  263480      M      1/1/1990        27.59              60        3/6/2014
27  683826      M      7/7/1969        48.09              77       1/29/2009
28  474599      F     3/19/1975        42.39              41       10/1/1998
29  335732      F     12/6/1963        53.68              41       8/20/1987
..     ...    ...           ...          ...             ...             ...
70  915638      M      1/3/1974        43.59              57       9/21/1999
71  478003      F     6/15/1963        54.16              60        3/4/2004
72  951225      F     6/27/1992        25.10              56       8/26/2016
73  883936      M     4/21/1986        31.29              61       9/10/2009
74  528673      M      3/9/1959        58.43              60       6/26/1995
75  765850      F     8/18/1991        25.96              40       5/15/2017
76  262382      F     4/20/1985        32.29              48       7/30/2007
77  870820      F     3/28/1991        26.35              54        3/3/2017
78  806955      M     7/22/1967        50.05              50       3/21/2000
79  325319      F     5/30/1976        41.19              60       11/5/2014
80  623253      F    10/23/1968        48.79              48        7/2/2017
81  225925      M     8/12/1991        25.98              68        9/8/2014
82  761821      M    10/28/1984        32.77              87       1/31/2015
83  400173      F     1/19/1984        33.55              57      12/31/2013
84  802554      M      8/1/1993        24.01              65       8/31/2014
85  476433      F    10/23/1974        42.79              55       12/7/1999
86  533952      F     5/23/1975        42.21              53        7/4/2013
87  623929      M    11/27/1966        50.70              87      12/12/2007
88  844177      F      9/8/1981        35.91              43       5/17/2013
89  212893      F    12/24/1979        37.62              60      12/18/2012
90  185032      M     10/6/1979        37.84              59       12/8/2014
91  867084      F    10/31/1977        39.77              54        3/4/2002
92  969964      F     1/12/1980        37.57              56       8/23/2016
93  158666      F     8/11/1961        56.00              55       4/10/1983
94  489424      M      3/4/1978        39.43              82        1/5/2016
95  639892      M     10/8/1994        22.82              89        7/9/2016
96  704709      M    12/24/1984        32.61              77       8/23/2011
97  461593      F    12/12/1964        52.66              60       1/23/1989
98  392491      F    12/30/1987        29.60              57        8/3/2010
99  495141      F     3/22/1979        38.38              55       4/25/2015

    Age in Company (Years)  Salary              County  \
0                    13.68  168251              Denver
1                     9.01   51063             De Soto
2                     0.98   50155             Clinton
3                    18.30  180294            Crawford
4                     4.01  117642             Waupaca
5                    12.02   72305             Madison
6                     0.87   98189              Fulton
7                    34.52   60918             Clinton
8                    23.27  121587               Starr
9                     3.44   43010             Carroll
10                    8.29  118457              Nemaha
11                    0.56   82965               Clark
12                    1.68  166892          Washington
13                    0.02   92758            Cavalier
14                   26.69   92220            Somerset
15                   22.95  152654              Duplin
16                   14.91  184896             Madison
17                    2.52  197537            Mitchell
18                   12.43  141518             Hickman
19                   19.15   73862      Cape Girardeau
20                    1.26   93967               Caddo
21                    1.47   52237      Northumberland
22                    7.58  111673               Meigs
23                    3.91  160623              Cannon
24                   16.08   42005             Osceola
25                    3.68  103160               Grant
26                    3.40  153790                Dunn
27                    8.50  129625              Skagit
28                   18.84   48944            Lawrence
29                   29.96   60508            Maricopa
..                     ...     ...                 ...
70                   17.86   76636              McLean
71                   13.41  186200             Jackson
72                    0.92   43867               Kiowa
73                    7.88  181793               Delta
74                   22.10  145235               Floyd
75                    0.20  113256                Erie
76                   10.00   64143           Breathitt
77                    0.40  116629                 Kay
78                   17.36   73734            Okaloosa
79                    2.73   48736              DuPage
80                    0.07  174774         Koochiching
81                    2.89   73526            Colorado
82                    2.49  176675            Franklin
83                    3.58  179017        Philadelphia
84                    2.91  106628       Pointe Coupee
85                   17.65  149878            Sedgwick
86                    4.07   51878               Major
87                    9.63  120631              Oneida
88                    4.20  180107                Ross
89                    4.61  114481          Miami-Dade
90                    2.64  122950              Racine
91                   15.41   52767         North Slope
92                    0.93  147641             Johnson
93                   34.32  160043                Inyo
94                    1.56  181774                Lane
95                    1.05  129774            Harrison
96                    5.93  156194        Carol Stream
97                   28.53   95673               Wayne
98                    6.99   51015  Yukon-Koyukuk (CA)
99                    2.26   93650             Gratiot

                       City State    Zip     Region
0                    Denver    CO  80224       West
1                 Stonewall    LA  71078      South
2              Michigantown    IN  46057    Midwest
3                  Hydetown    PA  16328  Northeast
4                   Fremont    WI  54940    Midwest
5                 Macksburg    IA  50155    Midwest
6                   Atlanta    GA  30334      South
7               Blanchester    OH  45107    Midwest
8                   Delmita    TX  78536      South
9            Eureka Springs    AR  72632      South
10                  Sabetha    KS  66534    Midwest
11                Las Vegas    NV  89170       West
12            New Matamoras    OH  45767    Midwest
13                    Maida    ND  58255    Midwest
14                 Quecreek    PA  15555  Northeast
15               Beulaville    NC  28518      South
16              New Douglas    IL  62074    Midwest
17              Toeterville    IA  50481    Midwest
18            Primm Springs    TN  38476      South
19                Dutchtown    MO  63745    Midwest
20               Shreveport    LA  71162      South
21              Heathsville    VA  22473      South
22               Middleport    OH  45760    Midwest
23                 Woodbury    TN  37190      South
24              Saint Cloud    FL  34771      South
25                Stockholm    SD  57264    Midwest
26                  Manning    ND  58642    Midwest
27             Mount Vernon    WA  98273       West
28             Lawrenceburg    TN  38464      South
29                     Mesa    AZ  85208       West
..                      ...   ...    ...        ...
70                   Hudson    IL  61748    Midwest
71              Kansas City    MO  64133    Midwest
72                  Haswell    CO  81045       West
73                   Eckert    CO  81418       West
74               Blue River    KY  41607      South
75                   Albion    PA  16401  Northeast
76                     Bays    KY  41310      South
77                   Nardin    OK  74646      South
78              Mary Esther    FL  32569      South
79                  Wheaton    IL  60189    Midwest
80                   Margie    MN  56658    Midwest
81                  Glidden    TX  78943      South
82             Saranac Lake    NY  12983  Northeast
83             Philadelphia    PA  19132  Northeast
84                  Jarreau    LA  70749      South
85                  Wichita    KS  67214    Midwest
86                     Meno    OK  73760      South
87                 Oriskany    NY  13424  Northeast
88            Richmond Dale    OH  45673    Midwest
89                    Miami    FL  33166      South
90                   Racine    WI  53490    Midwest
91                  Atqasuk    AK  99791       West
92  Whiteman Air Force Base    MO  65305    Midwest
93             Independence    CA  93526       West
94                 Mapleton    OR  97453       West
95                   Biloxi    MS  39532      South
96             Carol Stream    IL  60351    Midwest
97                  Detroit    MI  48278    Midwest
98                 Mc Grath    AK  99627       West
99                     Alma    MI  48801    Midwest

[100 rows x 13 columns]

#### 2.2 Importing a csv file

In [11]:
#Importing a csv file
df2 = pd.read_csv(r'C:\Users\sjeeva2\Desktop\Retail_Agg_Data.csv')
print (df2)

    Customer_ID  No_Of_Times_Visited  Total_Amount_Spent  \
0      AA-10315                    5           5563.5600
1      AA-10375                    9           1056.3900
2      AA-10480                    4           1790.5120
3      AA-10645                    6           5086.9350
4      AB-10015                    3            886.1560
5      AB-10060                    8           7755.6200
6      AB-10105                   10          14473.5710
7      AB-10150                    5            966.7100
8      AB-10165                    8           1113.8380
9      AB-10255                    9            914.5320
10     AB-10600                    4           1515.8620
11     AC-10420                    3            925.8000
12     AC-10450                    7           5527.8460
13     AC-10615                    5           2537.6860
14     AC-10660                    5            657.3160
15     AD-10180                    8           6106.8800
16     AF-10870                    7           2052.9080
17     AF-10885                    4            861.5650
18     AG-10270                    5           2582.8980
19     AG-10300                    4            367.5480
20     AG-10330                    4            660.9720
21     AG-10390                    5            200.9450
22     AG-10495                    8           2356.8550
23     AG-10525                    4           1455.0380
24     AG-10675                    7           3489.0396
25     AG-10765                    4            170.5840
26     AG-10900                   10           4510.7970
27     AH-10030                    7           1744.7000
28     AH-10075                   10           3250.3370
29     AH-10120                    7           1735.5140
..          ...                  ...                 ...
763    TS-21340                    5            974.7820
764    TS-21370                    6          11891.7510
765    TS-21430                    5           2054.1400
766    TS-21505                    6           2243.2740
767    TS-21610                    7           2820.4240
768    TS-21655                    5           3368.0940
769    TT-21070                    7           4915.6020
770    TT-21220                    8           1427.0440
771    TT-21265                    3            439.5000
772    TT-21460                    7           5364.8080
773    TW-21025                    7           5278.8260
774    TZ-21580                    4           1707.2860
775    VB-21745                    6           2005.5960
776    VD-21670                    6           6442.2540
777    VF-21715                    5            847.9440
778    VG-21790                    6            846.0100
779    VG-21805                    5            427.3720
780    VM-21685                    7           2454.8660
781    VM-21835                    5            380.6900
782    VP-21730                    3            993.9020
783    VP-21760                    7           3360.5260
784    VS-21820                    4           1055.9810
785    VT-21700                    2           1736.5960
786    VW-21775                   10           6134.0380
787    WB-21850                   11           6160.1020
788    XP-21865                   11           2374.6580
789    YC-21895                    5           5454.3500
790    YS-21880                    8           6720.4440
791    ZC-21910                   13           8025.7070
792    ZD-21925                    5           1493.9440

     Days_Since_Last_Visit
0                      186
1                       21
2                      261
3                       57
4                      417
5                       56
6                       43
7                       43
8                       27
9                      168
10                      52
11                     234
12                      13
13                       8
14                     284
15                      31
16                      43
17                     417
18                     280
19                     120
20                      10
21                     116
22                      80
23                     847
24                      99
25                      79
26                      98
27                      14
28                      36
29                      62
..                     ...
763                    228
764                     38
765                    174
766                     13
767                     57
768                    240
769                     33
770                    185
771                    408
772                     14
773                     66
774                     37
775                     56
776                    583
777                     15
778                    156
779                    288
780                     56
781                    119
782                     32
783                     77
784                    223
785                   1002
786                     30
787                     22
788                     45
789                      6
790                     11
791                     56
792                    204

[793 rows x 4 columns]

In [12]:
df2 = pd.read_csv(r'C:\Users\sjeeva2\Desktop\Retail_Agg_Data.csv',nrows=5)
print (df2)

  Customer_ID  No_Of_Times_Visited  Total_Amount_Spent  Days_Since_Last_Visit
0    AA-10315                    5            5563.560                    186
1    AA-10375                    9            1056.390                     21
2    AA-10480                    4            1790.512                    261
3    AA-10645                    6            5086.935                     57
4    AB-10015                    3             886.156                    417

In [13]:
df2 = pd.read_csv(r'C:\Users\sjeeva2\Desktop\Retail_Agg_Data.csv',nrows=5,header=None)
print (df2)

             0                    1                   2                      3
0  Customer_ID  No_Of_Times_Visited  Total_Amount_Spent  Days_Since_Last_Visit
1     AA-10315                    5             5563.56                    186
2     AA-10375                    9             1056.39                     21
3     AA-10480                    4            1790.512                    261
4     AA-10645                    6            5086.935                     57

#### 2.3 Importing an excel file

In [14]:
#Importing a excel file
df3 = pd.read_excel(r'C:\Users\sjeeva2\Desktop\Retail_Sample_Data.xlsx')
print (df3)

            Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0     CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1     CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2     CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3     US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4     US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
5     CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
6     CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
7     CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
8     CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
9     CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
10    CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
11    CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
12    CA-2017-114412 2017-04-15 2017-04-20  Standard Class    AA-10480
13    CA-2016-161389 2016-12-05 2016-12-10  Standard Class    IM-15070
14    US-2015-118983 2015-11-22 2015-11-26  Standard Class    HP-14815
15    US-2015-118983 2015-11-22 2015-11-26  Standard Class    HP-14815
16    CA-2014-105893 2014-11-11 2014-11-18  Standard Class    PK-19075
17    CA-2014-167164 2014-05-13 2014-05-15    Second Class    AG-10270
18    CA-2014-143336 2014-08-27 2014-09-01    Second Class    ZD-21925
19    CA-2014-143336 2014-08-27 2014-09-01    Second Class    ZD-21925
20    CA-2014-143336 2014-08-27 2014-09-01    Second Class    ZD-21925
21    CA-2016-137330 2016-12-09 2016-12-13  Standard Class    KB-16585
22    CA-2016-137330 2016-12-09 2016-12-13  Standard Class    KB-16585
23    US-2017-156909 2017-07-16 2017-07-18    Second Class    SF-20065
24    CA-2015-106320 2015-09-25 2015-09-30  Standard Class    EB-13870
25    CA-2016-121755 2016-01-16 2016-01-20    Second Class    EH-13945
26    CA-2016-121755 2016-01-16 2016-01-20    Second Class    EH-13945
27    US-2015-150630 2015-09-17 2015-09-21  Standard Class    TB-21520
28    US-2015-150630 2015-09-17 2015-09-21  Standard Class    TB-21520
29    US-2015-150630 2015-09-17 2015-09-21  Standard Class    TB-21520
...              ...        ...        ...             ...         ...
9964  CA-2016-146374 2016-12-05 2016-12-10    Second Class    HE-14800
9965  CA-2016-146374 2016-12-05 2016-12-10    Second Class    HE-14800
9966  CA-2016-146374 2016-12-05 2016-12-10    Second Class    HE-14800
9967  CA-2017-153871 2017-12-11 2017-12-17  Standard Class    RB-19435
9968  CA-2017-153871 2017-12-11 2017-12-17  Standard Class    RB-19435
9969  CA-2017-153871 2017-12-11 2017-12-17  Standard Class    RB-19435
9970  CA-2015-103772 2015-06-28 2015-07-02  Standard Class    MP-17470
9971  CA-2015-103772 2015-06-28 2015-07-02  Standard Class    MP-17470
9972  CA-2016-130225 2016-09-11 2016-09-17  Standard Class    RC-19960
9973  US-2016-103674 2016-12-06 2016-12-10  Standard Class    AP-10720
9974  US-2016-103674 2016-12-06 2016-12-10  Standard Class    AP-10720
9975  US-2016-103674 2016-12-06 2016-12-10  Standard Class    AP-10720
9976  US-2016-103674 2016-12-06 2016-12-10  Standard Class    AP-10720
9977  US-2016-103674 2016-12-06 2016-12-10  Standard Class    AP-10720
9978  US-2016-103674 2016-12-06 2016-12-10  Standard Class    AP-10720
9979  US-2016-103674 2016-12-06 2016-12-10  Standard Class    AP-10720
9980  US-2015-151435 2015-09-06 2015-09-09    Second Class    SW-20455
9981  CA-2017-163566 2017-08-03 2017-08-06     First Class    TB-21055
9982  US-2016-157728 2016-09-22 2016-09-28  Standard Class    RC-19960
9983  US-2016-157728 2016-09-22 2016-09-28  Standard Class    RC-19960
9984  CA-2015-100251 2015-05-17 2015-05-23  Standard Class    DV-13465
9985  CA-2015-100251 2015-05-17 2015-05-23  Standard Class    DV-13465
9986  CA-2016-125794 2016-09-29 2016-10-03  Standard Class    ML-17410
9987  CA-2017-163629 2017-11-17 2017-11-21  Standard Class    RA-19885
9988  CA-2017-163629 2017-11-17 2017-11-21  Standard Class    RA-19885
9989  CA-2014-110422 2014-01-21 2014-01-23    Second Class    TB-21400
9990  CA-2017-121258 2017-02-26 2017-03-03  Standard Class    DB-13060
9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class    DB-13060
9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class    DB-13060
9993  CA-2017-119914 2017-05-04 2017-05-09    Second Class    CC-12220

           Customer Name      Segment   Region         Category Sub-Category  \
0            Claire Gute     Consumer    South        Furniture    Bookcases
1            Claire Gute     Consumer    South        Furniture       Chairs
2        Darrin Van Huff    Corporate     West  Office Supplies       Labels
3         Sean O'Donnell     Consumer    South        Furniture       Tables
4         Sean O'Donnell     Consumer    South  Office Supplies      Storage
5        Brosina Hoffman     Consumer     West        Furniture  Furnishings
6        Brosina Hoffman     Consumer     West  Office Supplies          Art
7        Brosina Hoffman     Consumer     West       Technology       Phones
8        Brosina Hoffman     Consumer     West  Office Supplies      Binders
9        Brosina Hoffman     Consumer     West  Office Supplies   Appliances
10       Brosina Hoffman     Consumer     West        Furniture       Tables
11       Brosina Hoffman     Consumer     West       Technology       Phones
12          Andrew Allen     Consumer    South  Office Supplies        Paper
13          Irene Maddox     Consumer     West  Office Supplies      Binders
14         Harold Pawlan  Home Office  Central  Office Supplies   Appliances
15         Harold Pawlan  Home Office  Central  Office Supplies      Binders
16             Pete Kriz     Consumer  Central  Office Supplies      Storage
17       Alejandro Grove     Consumer     West  Office Supplies      Storage
18    Zuschuss Donatelli     Consumer     West  Office Supplies          Art
19    Zuschuss Donatelli     Consumer     West       Technology       Phones
20    Zuschuss Donatelli     Consumer     West  Office Supplies      Binders
21             Ken Black    Corporate  Central  Office Supplies          Art
22             Ken Black    Corporate  Central  Office Supplies   Appliances
23       Sandra Flanagan     Consumer     East        Furniture       Chairs
24           Emily Burns     Consumer     West        Furniture       Tables
25         Eric Hoffmann     Consumer     West  Office Supplies      Binders
26         Eric Hoffmann     Consumer     West       Technology  Accessories
27       Tracy Blumstein     Consumer     East        Furniture    Bookcases
28       Tracy Blumstein     Consumer     East  Office Supplies      Binders
29       Tracy Blumstein     Consumer     East        Furniture  Furnishings
...                  ...          ...      ...              ...          ...
9964        Harold Engle    Corporate     East        Furniture  Furnishings
9965        Harold Engle    Corporate     East  Office Supplies        Paper
9966        Harold Engle    Corporate     East  Office Supplies    Envelopes
9967     Richard Bierner     Consumer     East  Office Supplies      Binders
9968     Richard Bierner     Consumer     East  Office Supplies      Binders
9969     Richard Bierner     Consumer     East  Office Supplies   Appliances
9970         Mark Packer  Home Office    South  Office Supplies      Binders
9971         Mark Packer  Home Office    South  Office Supplies          Art
9972          Ryan Crowe     Consumer  Central  Office Supplies    Envelopes
9973          Anne Pryor  Home Office     West       Technology       Phones
9974          Anne Pryor  Home Office     West  Office Supplies          Art
9975          Anne Pryor  Home Office     West  Office Supplies        Paper
9976          Anne Pryor  Home Office     West       Technology       Phones
9977          Anne Pryor  Home Office     West  Office Supplies    Fasteners
9978          Anne Pryor  Home Office     West  Office Supplies      Binders
9979          Anne Pryor  Home Office     West  Office Supplies      Binders
9980         Shaun Weien     Consumer    South        Furniture       Tables
9981     Ted Butterfield     Consumer     East  Office Supplies       Labels
9982          Ryan Crowe     Consumer  Central  Office Supplies        Paper
9983          Ryan Crowe     Consumer  Central       Technology       Phones
9984    Dianna Vittorini     Consumer     East  Office Supplies       Labels
9985    Dianna Vittorini     Consumer     East  Office Supplies     Supplies
9986        Maris LaWare     Consumer     West       Technology  Accessories
9987        Ruben Ausman    Corporate    South       Technology  Accessories
9988        Ruben Ausman    Corporate    South       Technology       Phones
9989    Tom Boeckenhauer     Consumer    South        Furniture  Furnishings
9990         Dave Brooks     Consumer     West        Furniture  Furnishings
9991         Dave Brooks     Consumer     West       Technology       Phones
9992         Dave Brooks     Consumer     West  Office Supplies        Paper
9993        Chris Cortes     Consumer     West  Office Supplies   Appliances

          Sales  Quantity  Discount     Profit  Satisfaction Score
0      261.9600         2      0.00    41.9136                   3
1      731.9400         3      0.00   219.5820                   4
2       14.6200         2      0.00     6.8714                   3
3      957.5775         5      0.45  -383.0310                   4
4       22.3680         2      0.20     2.5164                   4
5       48.8600         7      0.00    14.1694                   4
6        7.2800         4      0.00     1.9656                   1
7      907.1520         6      0.20    90.7152                   2
8       18.5040         3      0.20     5.7825                   5
9      114.9000         5      0.00    34.4700                   5
10    1706.1840         9      0.20    85.3092                   5
11     911.4240         4      0.20    68.3568                   3
12      15.5520         3      0.20     5.4432                   3
13     407.9760         3      0.20   132.5922                   4
14      68.8100         5      0.80  -123.8580                   4
15       2.5440         3      0.80    -3.8160                   2
16     665.8800         6      0.00    13.3176                   3
17      55.5000         2      0.00     9.9900                   2
18       8.5600         2      0.00     2.4824                   1
19     213.4800         3      0.20    16.0110                   1
20      22.7200         4      0.20     7.3840                   5
21      19.4600         7      0.00     5.0596                   1
22      60.3400         7      0.00    15.6884                   5
23      71.3720         2      0.30    -1.0196                   1
24    1044.6300         3      0.00   240.2649                   4
25      11.6480         2      0.20     4.2224                   4
26      90.5700         3      0.00    11.7741                   1
27    3083.4300         7      0.50 -1665.0522                   1
28       9.6180         2      0.70    -7.0532                   1
29     124.2000         3      0.20    15.5250                   4
...         ...       ...       ...        ...                 ...
9964    13.4000         1      0.00     6.4320                   5
9965     4.9800         1      0.00     2.3406                   5
9966   109.6900         7      0.00    51.5543                   2
9967    40.2000         5      0.00    18.0900                   4
9968   735.9800         2      0.00   331.1910                   4
9969    22.7500         7      0.00     6.5975                   3
9970   119.5600         2      0.00    54.9976                   5
9971   140.7500         5      0.00    42.2250                   3
9972    99.5680         2      0.20    33.6042                   1
9973   271.9600         5      0.20    27.1960                   5
9974    18.6900         7      0.00     5.2332                   2
9975    13.3600         2      0.00     6.4128                   5
9976   249.5840         2      0.20    31.1980                   4
9977    13.8600         7      0.00     0.0000                   2
9978    13.3760         4      0.20     4.6816                   4
9979   437.4720        14      0.20   153.1152                   2
9980    85.9800         1      0.00    22.3548                   5
9981    16.5200         5      0.20     5.3690                   2
9982    35.5600         7      0.00    16.7132                   2
9983    97.9800         2      0.00    27.4344                   2
9984    31.5000        10      0.00    15.1200                   2
9985    55.6000         4      0.00    16.1240                   3
9986    36.2400         1      0.00    15.2208                   2
9987    79.9900         1      0.00    28.7964                   4
9988   206.1000         5      0.00    55.6470                   3
9989    25.2480         3      0.20     4.1028                   3
9990    91.9600         2      0.00    15.6332                   1
9991   258.5760         2      0.20    19.3932                   2
9992    29.6000         4      0.00    13.3200                   4
9993   243.1600         2      0.00    72.9480                   3

[9994 rows x 15 columns]

In [15]:
df3 = pd.read_excel(r'C:\Users\sjeeva2\Desktop\Retail_Sample_Data.xlsx', sheet_name='Transaction_data')
print (df3)

            Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0     CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1     CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2     CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3     US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4     US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
5     CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
6     CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
7     CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
8     CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
9     CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
10    CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
11    CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
12    CA-2017-114412 2017-04-15 2017-04-20  Standard Class    AA-10480
13    CA-2016-161389 2016-12-05 2016-12-10  Standard Class    IM-15070
14    US-2015-118983 2015-11-22 2015-11-26  Standard Class    HP-14815
15    US-2015-118983 2015-11-22 2015-11-26  Standard Class    HP-14815
16    CA-2014-105893 2014-11-11 2014-11-18  Standard Class    PK-19075
17    CA-2014-167164 2014-05-13 2014-05-15    Second Class    AG-10270
18    CA-2014-143336 2014-08-27 2014-09-01    Second Class    ZD-21925
19    CA-2014-143336 2014-08-27 2014-09-01    Second Class    ZD-21925
20    CA-2014-143336 2014-08-27 2014-09-01    Second Class    ZD-21925
21    CA-2016-137330 2016-12-09 2016-12-13  Standard Class    KB-16585
22    CA-2016-137330 2016-12-09 2016-12-13  Standard Class    KB-16585
23    US-2017-156909 2017-07-16 2017-07-18    Second Class    SF-20065
24    CA-2015-106320 2015-09-25 2015-09-30  Standard Class    EB-13870
25    CA-2016-121755 2016-01-16 2016-01-20    Second Class    EH-13945
26    CA-2016-121755 2016-01-16 2016-01-20    Second Class    EH-13945
27    US-2015-150630 2015-09-17 2015-09-21  Standard Class    TB-21520
28    US-2015-150630 2015-09-17 2015-09-21  Standard Class    TB-21520
29    US-2015-150630 2015-09-17 2015-09-21  Standard Class    TB-21520
...              ...        ...        ...             ...         ...
9964  CA-2016-146374 2016-12-05 2016-12-10    Second Class    HE-14800
9965  CA-2016-146374 2016-12-05 2016-12-10    Second Class    HE-14800
9966  CA-2016-146374 2016-12-05 2016-12-10    Second Class    HE-14800
9967  CA-2017-153871 2017-12-11 2017-12-17  Standard Class    RB-19435
9968  CA-2017-153871 2017-12-11 2017-12-17  Standard Class    RB-19435
9969  CA-2017-153871 2017-12-11 2017-12-17  Standard Class    RB-19435
9970  CA-2015-103772 2015-06-28 2015-07-02  Standard Class    MP-17470
9971  CA-2015-103772 2015-06-28 2015-07-02  Standard Class    MP-17470
9972  CA-2016-130225 2016-09-11 2016-09-17  Standard Class    RC-19960
9973  US-2016-103674 2016-12-06 2016-12-10  Standard Class    AP-10720
9974  US-2016-103674 2016-12-06 2016-12-10  Standard Class    AP-10720
9975  US-2016-103674 2016-12-06 2016-12-10  Standard Class    AP-10720
9976  US-2016-103674 2016-12-06 2016-12-10  Standard Class    AP-10720
9977  US-2016-103674 2016-12-06 2016-12-10  Standard Class    AP-10720
9978  US-2016-103674 2016-12-06 2016-12-10  Standard Class    AP-10720
9979  US-2016-103674 2016-12-06 2016-12-10  Standard Class    AP-10720
9980  US-2015-151435 2015-09-06 2015-09-09    Second Class    SW-20455
9981  CA-2017-163566 2017-08-03 2017-08-06     First Class    TB-21055
9982  US-2016-157728 2016-09-22 2016-09-28  Standard Class    RC-19960
9983  US-2016-157728 2016-09-22 2016-09-28  Standard Class    RC-19960
9984  CA-2015-100251 2015-05-17 2015-05-23  Standard Class    DV-13465
9985  CA-2015-100251 2015-05-17 2015-05-23  Standard Class    DV-13465
9986  CA-2016-125794 2016-09-29 2016-10-03  Standard Class    ML-17410
9987  CA-2017-163629 2017-11-17 2017-11-21  Standard Class    RA-19885
9988  CA-2017-163629 2017-11-17 2017-11-21  Standard Class    RA-19885
9989  CA-2014-110422 2014-01-21 2014-01-23    Second Class    TB-21400
9990  CA-2017-121258 2017-02-26 2017-03-03  Standard Class    DB-13060
9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class    DB-13060
9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class    DB-13060
9993  CA-2017-119914 2017-05-04 2017-05-09    Second Class    CC-12220

           Customer Name      Segment   Region         Category Sub-Category  \
0            Claire Gute     Consumer    South        Furniture    Bookcases
1            Claire Gute     Consumer    South        Furniture       Chairs
2        Darrin Van Huff    Corporate     West  Office Supplies       Labels
3         Sean O'Donnell     Consumer    South        Furniture       Tables
4         Sean O'Donnell     Consumer    South  Office Supplies      Storage
5        Brosina Hoffman     Consumer     West        Furniture  Furnishings
6        Brosina Hoffman     Consumer     West  Office Supplies          Art
7        Brosina Hoffman     Consumer     West       Technology       Phones
8        Brosina Hoffman     Consumer     West  Office Supplies      Binders
9        Brosina Hoffman     Consumer     West  Office Supplies   Appliances
10       Brosina Hoffman     Consumer     West        Furniture       Tables
11       Brosina Hoffman     Consumer     West       Technology       Phones
12          Andrew Allen     Consumer    South  Office Supplies        Paper
13          Irene Maddox     Consumer     West  Office Supplies      Binders
14         Harold Pawlan  Home Office  Central  Office Supplies   Appliances
15         Harold Pawlan  Home Office  Central  Office Supplies      Binders
16             Pete Kriz     Consumer  Central  Office Supplies      Storage
17       Alejandro Grove     Consumer     West  Office Supplies      Storage
18    Zuschuss Donatelli     Consumer     West  Office Supplies          Art
19    Zuschuss Donatelli     Consumer     West       Technology       Phones
20    Zuschuss Donatelli     Consumer     West  Office Supplies      Binders
21             Ken Black    Corporate  Central  Office Supplies          Art
22             Ken Black    Corporate  Central  Office Supplies   Appliances
23       Sandra Flanagan     Consumer     East        Furniture       Chairs
24           Emily Burns     Consumer     West        Furniture       Tables
25         Eric Hoffmann     Consumer     West  Office Supplies      Binders
26         Eric Hoffmann     Consumer     West       Technology  Accessories
27       Tracy Blumstein     Consumer     East        Furniture    Bookcases
28       Tracy Blumstein     Consumer     East  Office Supplies      Binders
29       Tracy Blumstein     Consumer     East        Furniture  Furnishings
...                  ...          ...      ...              ...          ...
9964        Harold Engle    Corporate     East        Furniture  Furnishings
9965        Harold Engle    Corporate     East  Office Supplies        Paper
9966        Harold Engle    Corporate     East  Office Supplies    Envelopes
9967     Richard Bierner     Consumer     East  Office Supplies      Binders
9968     Richard Bierner     Consumer     East  Office Supplies      Binders
9969     Richard Bierner     Consumer     East  Office Supplies   Appliances
9970         Mark Packer  Home Office    South  Office Supplies      Binders
9971         Mark Packer  Home Office    South  Office Supplies          Art
9972          Ryan Crowe     Consumer  Central  Office Supplies    Envelopes
9973          Anne Pryor  Home Office     West       Technology       Phones
9974          Anne Pryor  Home Office     West  Office Supplies          Art
9975          Anne Pryor  Home Office     West  Office Supplies        Paper
9976          Anne Pryor  Home Office     West       Technology       Phones
9977          Anne Pryor  Home Office     West  Office Supplies    Fasteners
9978          Anne Pryor  Home Office     West  Office Supplies      Binders
9979          Anne Pryor  Home Office     West  Office Supplies      Binders
9980         Shaun Weien     Consumer    South        Furniture       Tables
9981     Ted Butterfield     Consumer     East  Office Supplies       Labels
9982          Ryan Crowe     Consumer  Central  Office Supplies        Paper
9983          Ryan Crowe     Consumer  Central       Technology       Phones
9984    Dianna Vittorini     Consumer     East  Office Supplies       Labels
9985    Dianna Vittorini     Consumer     East  Office Supplies     Supplies
9986        Maris LaWare     Consumer     West       Technology  Accessories
9987        Ruben Ausman    Corporate    South       Technology  Accessories
9988        Ruben Ausman    Corporate    South       Technology       Phones
9989    Tom Boeckenhauer     Consumer    South        Furniture  Furnishings
9990         Dave Brooks     Consumer     West        Furniture  Furnishings
9991         Dave Brooks     Consumer     West       Technology       Phones
9992         Dave Brooks     Consumer     West  Office Supplies        Paper
9993        Chris Cortes     Consumer     West  Office Supplies   Appliances

          Sales  Quantity  Discount     Profit  Satisfaction Score
0      261.9600         2      0.00    41.9136                   3
1      731.9400         3      0.00   219.5820                   4
2       14.6200         2      0.00     6.8714                   3
3      957.5775         5      0.45  -383.0310                   4
4       22.3680         2      0.20     2.5164                   4
5       48.8600         7      0.00    14.1694                   4
6        7.2800         4      0.00     1.9656                   1
7      907.1520         6      0.20    90.7152                   2
8       18.5040         3      0.20     5.7825                   5
9      114.9000         5      0.00    34.4700                   5
10    1706.1840         9      0.20    85.3092                   5
11     911.4240         4      0.20    68.3568                   3
12      15.5520         3      0.20     5.4432                   3
13     407.9760         3      0.20   132.5922                   4
14      68.8100         5      0.80  -123.8580                   4
15       2.5440         3      0.80    -3.8160                   2
16     665.8800         6      0.00    13.3176                   3
17      55.5000         2      0.00     9.9900                   2
18       8.5600         2      0.00     2.4824                   1
19     213.4800         3      0.20    16.0110                   1
20      22.7200         4      0.20     7.3840                   5
21      19.4600         7      0.00     5.0596                   1
22      60.3400         7      0.00    15.6884                   5
23      71.3720         2      0.30    -1.0196                   1
24    1044.6300         3      0.00   240.2649                   4
25      11.6480         2      0.20     4.2224                   4
26      90.5700         3      0.00    11.7741                   1
27    3083.4300         7      0.50 -1665.0522                   1
28       9.6180         2      0.70    -7.0532                   1
29     124.2000         3      0.20    15.5250                   4
...         ...       ...       ...        ...                 ...
9964    13.4000         1      0.00     6.4320                   5
9965     4.9800         1      0.00     2.3406                   5
9966   109.6900         7      0.00    51.5543                   2
9967    40.2000         5      0.00    18.0900                   4
9968   735.9800         2      0.00   331.1910                   4
9969    22.7500         7      0.00     6.5975                   3
9970   119.5600         2      0.00    54.9976                   5
9971   140.7500         5      0.00    42.2250                   3
9972    99.5680         2      0.20    33.6042                   1
9973   271.9600         5      0.20    27.1960                   5
9974    18.6900         7      0.00     5.2332                   2
9975    13.3600         2      0.00     6.4128                   5
9976   249.5840         2      0.20    31.1980                   4
9977    13.8600         7      0.00     0.0000                   2
9978    13.3760         4      0.20     4.6816                   4
9979   437.4720        14      0.20   153.1152                   2
9980    85.9800         1      0.00    22.3548                   5
9981    16.5200         5      0.20     5.3690                   2
9982    35.5600         7      0.00    16.7132                   2
9983    97.9800         2      0.00    27.4344                   2
9984    31.5000        10      0.00    15.1200                   2
9985    55.6000         4      0.00    16.1240                   3
9986    36.2400         1      0.00    15.2208                   2
9987    79.9900         1      0.00    28.7964                   4
9988   206.1000         5      0.00    55.6470                   3
9989    25.2480         3      0.20     4.1028                   3
9990    91.9600         2      0.00    15.6332                   1
9991   258.5760         2      0.20    19.3932                   2
9992    29.6000         4      0.00    13.3200                   4
9993   243.1600         2      0.00    72.9480                   3

[9994 rows x 15 columns]

#### 2.4 Importing a sas file

In [16]:
#Importing a sas file
df4 = pd.read_sas(r'C:\Users\sjeeva2\Desktop\iris.sas7bdat',encoding="latin-1")
print (df4)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0             5.1          3.5           1.4          0.2  setosa
1             4.9          3.0           1.4          0.2  setosa
2             4.7          3.2           1.3          0.2  setosa
3             4.6          3.1           1.5          0.2  setosa
4             5.0          3.6           1.4          0.2  setosa
5             5.4          3.9           1.7          0.4  setosa
6             4.6          3.4           1.4          0.3  setosa
7             5.0          3.4           1.5          0.2  setosa
8             4.4          2.9           1.4          0.2  setosa
9             4.9          3.1           1.5          0.1  setosa
10            5.4          3.7           1.5          0.2  setosa
11            4.8          3.4           1.6          0.2  setosa
12            4.8          3.0           1.4          0.1  setosa
13            4.3          3.0           1.1          0.1  setosa
14            5.8          4.0           1.2          0.2  setosa
15            5.7          4.4           1.5          0.4  setosa
16            5.4          3.9           1.3          0.4  setosa
17            5.1          3.5           1.4          0.3  setosa
18            5.7          3.8           1.7          0.3  setosa
19            5.1          3.8           1.5          0.3  setosa
20            5.4          3.4           1.7          0.2  setosa
21            5.1          3.7           1.5          0.4  setosa
22            4.6          3.6           1.0          0.2  setosa
23            5.1          3.3           1.7          0.5  setosa
24            4.8          3.4           1.9          0.2  setosa
25            5.0          3.0           1.6          0.2  setosa
26            5.0          3.4           1.6          0.4  setosa
27            5.2          3.5           1.5          0.2  setosa
28            5.2          3.4           1.4          0.2  setosa
29            4.7          3.2           1.6          0.2  setosa
..            ...          ...           ...          ...     ...
120           6.9          3.2           5.7          2.3  virgin
121           5.6          2.8           4.9          2.0  virgin
122           7.7          2.8           6.7          2.0  virgin
123           6.3          2.7           4.9          1.8  virgin
124           6.7          3.3           5.7          2.1  virgin
125           7.2          3.2           6.0          1.8  virgin
126           6.2          2.8           4.8          1.8  virgin
127           6.1          3.0           4.9          1.8  virgin
128           6.4          2.8           5.6          2.1  virgin
129           7.2          3.0           5.8          1.6  virgin
130           7.4          2.8           6.1          1.9  virgin
131           7.9          3.8           6.4          2.0  virgin
132           6.4          2.8           5.6          2.2  virgin
133           6.3          2.8           5.1          1.5  virgin
134           6.1          2.6           5.6          1.4  virgin
135           7.7          3.0           6.1          2.3  virgin
136           6.3          3.4           5.6          2.4  virgin
137           6.4          3.1           5.5          1.8  virgin
138           6.0          3.0           4.8          1.8  virgin
139           6.9          3.1           5.4          2.1  virgin
140           6.7          3.1           5.6          2.4  virgin
141           6.9          3.1           5.1          2.3  virgin
142           5.8          2.7           5.1          1.9  virgin
143           6.8          3.2           5.9          2.3  virgin
144           6.7          3.3           5.7          2.5  virgin
145           6.7          3.0           5.2          2.3  virgin
146           6.3          2.5           5.0          1.9  virgin
147           6.5          3.0           5.2          2.0  virgin
148           6.2          3.4           5.4          2.3  virgin
149           5.9          3.0           5.1          1.8  virgin

[150 rows x 5 columns]

### 3. Basic Checks - Exploring the Data

In [17]:
# The head() function is used to get the first n rows
df3.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit,Satisfaction Score
0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,South,Furniture,Bookcases,261.9600,2,0.00,41.9136,3
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,South,Furniture,Chairs,731.9400,3,0.00,219.5820,4
2,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,West,Office Supplies,Labels,14.6200,2,0.00,6.8714,3
3,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,South,Furniture,Tables,957.5775,5,0.45,-383.0310,4
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,South,Office Supplies,Storage,22.3680,2,0.20,2.5164,4

In [18]:
df3.head(10)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit,Satisfaction Score
0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,South,Furniture,Bookcases,261.9600,2,0.00,41.9136,3
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,South,Furniture,Chairs,731.9400,3,0.00,219.5820,4
2,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,West,Office Supplies,Labels,14.6200,2,0.00,6.8714,3
3,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,South,Furniture,Tables,957.5775,5,0.45,-383.0310,4
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,South,Office Supplies,Storage,22.3680,2,0.20,2.5164,4
5,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,West,Furniture,Furnishings,48.8600,7,0.00,14.1694,4
6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,West,Office Supplies,Art,7.2800,4,0.00,1.9656,1
7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,West,Technology,Phones,907.1520,6,0.20,90.7152,2
8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,West,Office Supplies,Binders,18.5040,3,0.20,5.7825,5
9,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,West,Office Supplies,Appliances,114.9000,5,0.00,34.4700,5

In [19]:
# The tail() function is used to get the last n rows
df3.tail()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit,Satisfaction Score
9989,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,South,Furniture,Furnishings,25.248,3,0.2,4.1028,3
9990,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,West,Furniture,Furnishings,91.960,2,0.0,15.6332,1
9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,West,Technology,Phones,258.576,2,0.2,19.3932,2
9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,West,Office Supplies,Paper,29.600,4,0.0,13.3200,4
9993,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,West,Office Supplies,Appliances,243.160,2,0.0,72.9480,3

In [20]:
# To get the No of rows and columns
df3.shape

(9994, 15)

In [21]:
# Information on the dataframe
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 15 columns):
Order ID              9994 non-null object
Order Date            9994 non-null datetime64[ns]
Ship Date             9994 non-null datetime64[ns]
Ship Mode             9994 non-null object
Customer ID           9994 non-null object
Customer Name         9994 non-null object
Segment               9994 non-null object
Region                9994 non-null object
Category              9994 non-null object
Sub-Category          9994 non-null object
Sales                 9994 non-null float64
Quantity              9994 non-null int64
Discount              9994 non-null float64
Profit                9994 non-null float64
Satisfaction Score    9994 non-null int64
dtypes: datetime64[ns](2), float64(3), int64(2), object(8)
memory usage: 1.1+ MB

In [22]:
# Desribes the Index
df3.index

RangeIndex(start=0, stop=9994, step=1)

In [23]:
# Returns the dataframe columns
df3.columns

Index(['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Region', 'Category', 'Sub-Category',
       'Sales', 'Quantity', 'Discount', 'Profit', 'Satisfaction Score'],
      dtype='object')

In [24]:
# Returns Number of non-NA values
df3.count()

Order ID              9994
Order Date            9994
Ship Date             9994
Ship Mode             9994
Customer ID           9994
Customer Name         9994
Segment               9994
Region                9994
Category              9994
Sub-Category          9994
Sales                 9994
Quantity              9994
Discount              9994
Profit                9994
Satisfaction Score    9994
dtype: int64

In [25]:
# Returns Summary statistics for Numerical columns
df3.describe()

              Sales     Quantity     Discount       Profit  Satisfaction Score
count   9994.000000  9994.000000  9994.000000  9994.000000         9994.000000
mean     229.858001     3.789574     0.156203    28.656896            3.003902
std      623.245101     2.225110     0.206452   234.260108            1.410701
min        0.444000     1.000000     0.000000 -6599.978000            1.000000
25%       17.280000     2.000000     0.000000     1.728750            2.000000
50%       54.490000     3.000000     0.200000     8.666500            3.000000
75%      209.940000     5.000000     0.200000    29.364000            4.000000
max    22638.480000    14.000000     0.800000  8399.976000            5.000000

In [26]:
# Count unique values in each column of the dataframe
UniqueValues = df3.nunique()
print(UniqueValues)

Order ID              5009
Order Date            1237
Ship Date             1334
Ship Mode                4
Customer ID            793
Customer Name          793
Segment                  3
Region                   4
Category                 3
Sub-Category            17
Sales                 5825
Quantity                14
Discount                12
Profit                7287
Satisfaction Score       5
dtype: int64

In [27]:
# Unique values of a categorical column
df3['Category'].unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

### 4. Datatypes
Checking Datatypes in data frame, Converting Datatypes

In [28]:
# Check the Data Type in Pandas DataFrame
df3.dtypes

Order ID                      object
Order Date            datetime64[ns]
Ship Date             datetime64[ns]
Ship Mode                     object
Customer ID                   object
Customer Name                 object
Segment                       object
Region                        object
Category                      object
Sub-Category                  object
Sales                        float64
Quantity                       int64
Discount                     float64
Profit                       float64
Satisfaction Score             int64
dtype: object

In [29]:
# Check the data type of a particular column
df3['Profit'].dtypes

dtype('float64')

In [30]:
# Convert Integers to Strings
df3['Satisfaction Score'] = df3['Satisfaction Score'].astype(str)

In [31]:
df3['Satisfaction Score'].dtypes

dtype('O')

In [32]:
# Convert strings to Integers
df3['Satisfaction Score'] = df3['Satisfaction Score'].astype(int)

In [33]:
df3['Satisfaction Score'].dtypes

dtype('int32')

### 5. Exporting Data

#### 5.1 Exporting to csv file

In [34]:
# Exporting pandas dataframe to csv
df3.to_csv('MyDataFrame.csv',index=False)

#### 5.2 Exporting to excel file

In [35]:
# Exporting pandas dataframe to excel
df3.to_excel('MyDataFrame.xlsx',index=False, sheet_name='Sheet1')

## Thankyou!