### Topic 2 : Data Slicing / Dicing : Assignment
Filter,Join ,Append, Concat,Group by,Series

#### 1. Mention the required packages ?

#### 2. Create a dataframe with car brand and price of the product as 2 columns s as follows

###### Brand  #Price
Ford         10000
toyota       20000
honda        30000
hyndai       34000
maruthi      30000

#### 3. create a dataframe which has price value equal to 30000

#### 4. create a dataframe with brands (Ford, honda)

#####  5. Create 4 dataframes as follows
 
##### Table1 (3 columns)

ID Age Car
1,  18,  Ford,
2,  25,  Toyota,
3,  35,  Honda,
4,  45,  Ford,
5,  65,  Fseries,

##### Table2 (3 columns)

ID state children 
2,  TX,    3,
3,  MI,    4,
4,  UT,    1,
6,  OR,    5,
7,  CA,    2,

##### Table3(2 columns)

ID CustomerType
 
 1,   Owner,
 2,   Lease,
 4,   Lease,
 7,   Owner,
 
##### Table4(3 columns)

ID Age Car
5,  18,  Ford,
7,  25,  Toyota,
7,  35,  Honda,
6,  45,  Ford,

##### 6. Append table1 and table4 using concat & append function  separately

##### 7.Inner join of table1 and table2 using concat function (join should be based on the index)

##### 8. Append table1, table2 and table3

##### 9. Inner Join table1, table2  & table 3 based on the primari key (ID) . Also try all join type (left, right and outer)

Note : Check the count of records after join and save the values

##### 10. left join table1 and table 4 also validate wheter it is one to one join or one to many

##### 11. Add a additional row and column to table 4 using series function

##### 12. Filter for alphabet "r" in column "car" of table1 using series

Note : For doubt clarification contact : pinduma2
### Thank you!!!!